*.I[12]
*.[EIOX]
*.bak
*.gcda
*.gcno
*.o
*.lo
*.la
*.diff
*.orig
*.a
*~
._bootmp
.deps
.dirstamp
missingcat
.gdb-history
.kludge-stamp
.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
libtest/.libs
src/.libs
/INSTALL
/THANKS-to-translators
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/gnulib-tests
/stamp-h1
ID
*.exe
*.obj
*.log
*.user
httrack
htsserver
proxytrack
missing
test-driver